html, body {
  scroll-behavior: smooth;
  margin: 0;
  font-family: Arial;
  font-size: 17px;
  color:white;
 }
 * {
    box-sizing: border-box;
}

.blocinvisiblepoursticky{
position:relative;
height:96vh;
}

.positiondusticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	bottom: 0px;
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
	width: 100%;
	height: 220px;
  padding-left: 20px; /* Centrage du texte du header*/
  padding-top: 10px; /* Centrage du texte du header*/
}

 #myBtn {
   width: 100px;
   font-size: 18px;
   padding: 10px;
   border: none;
   background: #000;
   color: #fff;
   cursor: pointer;
 }

 #myBtn:hover {
   background: #ddd;
   color: black;
 }

#vid1 {
  position: absolute;
  z-index: -1;
}

div article:hover {

  outline: 2px solid #fff;
  outline-offset: 0px;
}

article div {
  display: inline-block;
  margin-top: 2%;
  margin-left: 7%;
}

div article {
  display: inline-block;
  padding-left: 5px;
  padding-top: 50px;
  width: 200px;
  background: rgba(0, 0, 0, 0.5);
  margin-left: 20px;
  height:200px;
  text-align: center;
  vertical-align: center
}

.colonne2 {

	width: 830px;
  height:200px;
  margin-left: 50px;
	background: rgba(0, 0, 0, 0.5);
  vertical-align: top;
}

#vid1 {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

h2 {
   color:white;
   display: inline;
   vertical-align: top;
}

 h3 {
   font-family: Arial;
   display: inline;
   font-size: 100px;
   color:white;
   text-align: center;
   } /* <!--NumérosDesClasses-->  C'est comme ça les commentaires ! */

h4 {
  font-size:16px;
  font-style: italic;
  color: white;
  font-family: arial;

  margin-top: -25px;
  margin-left: -30px;
  margin-right: 40px;
  font-weight:normal;
  text-align: center;
}

h5{
text-decoration: underline overline;
font-size:24px;
color: white;
font-family: arial;
text-align: center;
font-weight:normal;
}

/* Le h6 c'est pour le texte de tuileD ou encore le bouton découverte caché */
h6{
font-size:30px;
margin-top: 5%;
font-family: arial, Helvetica, sans-serif;
text-align: center;
color: white;
text-decoration: underline overline;
}
/*aussi pour la tuile D*/


.column{
  float: left;
  width:50%;
  padding:10px;
}
.row{
content: "";
display: table;
clear: both;
background: rgba(0, 0, 0, 0.5);
  overflow:hidden;
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  height:50%;
  margin-top:5%;
  margin-bottom:25%;
}

.row2{
  content: "";
  display: table;
  clear: both;
  background: rgba(0, 0, 0, 0.5);
    overflow:hidden;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height:50%;
    margin-top:5%;
    margin-bottom:25%;
}

#myBtn2 {
  position:relative;
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn2:hover {
  background: #ddd;
  color: black;
}

/*En-dessous c'est pour le bouton scroll */
.demo a {
  position: absolute;
  bottom: 20px;
  left: 92%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}


#section03 a {
  padding-top: 60px;
}
#section03 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}
#section03 a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
#section03 a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255,255,255,.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}


@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/*Au-dessus c'est pour le bouton scroll */
